Krankenmeldung/Krankenmeldung/obj/Debug/Krankenmeldung_MarkupCompile.cache
*.suo
Krankenmeldung/Krankenmeldung/obj/Debug/Krankenmeldung.csproj.FileListAbsolute.txt
*.cache
Krankenmeldung/Krankenmeldung/obj/Debug/Krankenmeldung_MarkupCompile.i.cache
*.cs
Krankenmeldung/Krankenmeldung/obj/Debug/MainWindow.g.i.cs